.nav-container {
  position: fixed;
  height: 100%;
  width: 300px;
  margin-top: 150px;
}

.nav-container__link {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

.nav-container__link__li {
  margin-bottom: 35px;
}

.nav-container__link__li__home {
  text-decoration: none;
}

.nav-container__link__li__home__icon {
  margin-left: 50px;
}

.nav-container__link__li__home:hover {
  color: black;
}

#facebook:hover {
  height: 20px;
}

#instagram {
  margin-left: 10px;
}

#instagram:hover {
  height: 20px;
}

#linkdin {
  margin-left: 10px;
}

#linkdin:hover {
  height: 20px;
}

.about-container {
  margin-left: 300px;
}

.lifeStyle-container {
  margin-left: 300px;
  margin-right: 50px;
}

.lifeStyle-container__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (7vw)[23];
      grid-template-rows: repeat(23, 7vw);
  grid-auto-rows: 5vw;
  grid-gap: 15px;
}

.lifeStyle-container__grid__galeryOne {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.lifeStyle-container__grid__galeryOne__galeryTwo {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 8;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 8;
      grid-row-start: 8;
  grid-row-end: 15;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 11;
      grid-row-start: 11;
  grid-row-end: 15;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 15;
      grid-row-start: 15;
  grid-row-end: 20;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight__galeryNine {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
  -ms-grid-row: 15;
      grid-row-start: 15;
  grid-row-end: 20;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight__galeryNine__galeryTen {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 15;
      grid-row-start: 15;
  grid-row-end: 22;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight__galeryNine__galeryTen__galeryEleven {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 8;
  -ms-grid-row: 20;
      grid-row-start: 20;
}

.image {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portrait-container {
  margin-left: 300px;
  margin-right: 50px;
}

.portrait-container__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (5vw)[35];
      grid-template-rows: repeat(35, 5vw);
  grid-gap: 15px;
}

.portrait-container__grid__galeryOneP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
}

.portrait-container__grid__galeryOneP__galeryTwoP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 9;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 13;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 13;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
  -ms-grid-row: 9;
      grid-row-start: 9;
  grid-row-end: 17;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 13;
      grid-row-start: 13;
  grid-column-end: 4;
  grid-row-end: 19;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 13;
      grid-row-start: 13;
  grid-row-end: 19;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
  -ms-grid-row: 17;
      grid-row-start: 17;
  grid-row-end: 25;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 19;
      grid-row-start: 19;
  grid-row-end: 25;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 19;
      grid-row-start: 19;
  grid-row-end: 25;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 25;
      grid-row-start: 25;
  grid-row-end: 33;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve__galeryTheirteen {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 25;
      grid-row-start: 25;
  grid-row-end: 31;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve__galeryTheirteen__galeryFourteen {
  grid-column-end: 11;
  -ms-grid-column: 8;
      grid-column-start: 8;
  -ms-grid-row: 25;
      grid-row-start: 25;
  grid-row-end: 31;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve__galeryTheirteen__galeryFourteen__galeryFifteen {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 11;
}

.contact-container {
  margin-left: 300px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-description-text {
  width: 30%;
  margin-top: 60px;
}

.container-form {
  width: 40%;
  margin-top: 60px;
}

.container-form__submit {
  margin-left: 20px;
}

.container-form__submit__containerLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#containerName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  color: #323232;
}
/*# sourceMappingURL=app.css.map */