#logo {
  height: 120px;
}

.nav-container {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

.nav-container__link {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-container__link__li {
  margin-top: 20px;
  list-style-type: none;
}

.nav-container__link__li__home {
  text-decoration: none;
  outline: none;
}

.nav-container__link__li__home__icon {
  display: none;
}

.nav-container__link__li__home:hover {
  color: #FFA500;
}

@media screen and (min-width: 1339px) {
  .nav-container {
    position: fixed;
    height: 100%;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-container__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    margin-top: 40px;
  }
  .nav-container__link__li {
    margin-bottom: 35px;
  }
  .nav-container__link__li__home {
    text-decoration: none;
  }
  .nav-container__link__li__home__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-container__link__li__home:hover {
    color: #FFA500;
  }
  #instagram:hover {
    height: 20px;
  }
  #linkdin {
    margin-left: 15px;
  }
  #linkdin:hover {
    height: 20px;
  }
  #logo {
    height: 200px;
    margin-left: 50px;
    margin-top: 20px;
  }
}

.about-container {
  margin-left: 15px;
  margin-right: 15px;
}

.pic-container {
  height: 100%;
  width: 100%;
  padding-top: 120px;
}

.pic-container__pic {
  max-width: 100%;
}

.text-container {
  margin-bottom: 20px;
}

@media screen and (min-width: 1339px) {
  .about-container {
    margin-left: 300px;
    padding-top: 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-picture {
    width: 50%;
  }
  .text-container {
    width: 65%;
    text-align: center;
    margin-right: 15px;
  }
  .text {
    line-height: 2.1;
    margin-left: 10%;
    margin-right: 10%;
  }
  .pic-container {
    width: 35%;
    padding-top: 0px;
  }
  .pic-container__pic {
    width: 100%;
    padding-right: 15px;
  }
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.lifeStyle-container__grid {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 120px;
}

@media screen and (min-width: 1339px) {
  .lifeStyle-container {
    margin-left: 300px;
    margin-right: 15px;
    padding-top: 15px;
  }
  .lifeStyle-container__grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: (7vw)[23];
        grid-template-rows: repeat(23, 7vw);
    grid-auto-rows: 5vw;
    grid-gap: 15px;
    padding-top: 0px;
  }
  .lifeStyle-container__grid__galeryOne {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 8;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 8;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 11;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 11;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 8;
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 15;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 11;
        grid-row-start: 11;
    grid-row-end: 15;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
    -ms-grid-row: 15;
        grid-row-start: 15;
    grid-row-end: 20;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight__galeryNine {
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 8;
    -ms-grid-row: 15;
        grid-row-start: 15;
    grid-row-end: 20;
  }
  .lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight__galeryNine__galeryTen {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 15;
        grid-row-start: 15;
    grid-row-end: 22;
  }
  .image {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.portrait-container__grid {
  padding-top: 120px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1339px) {
  .portrait-container {
    margin-left: 300px;
    margin-right: 15px;
    padding-top: 15px;
  }
  .portrait-container__grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (5vw)[35];
        grid-template-rows: repeat(35, 5vw);
    grid-gap: 15px;
    padding-top: 0px;
  }
  .portrait-container__grid__galeryOneP {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 11;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 9;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 13;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 13;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 11;
    -ms-grid-row: 9;
        grid-row-start: 9;
    grid-row-end: 17;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 13;
        grid-row-start: 13;
    grid-column-end: 4;
    grid-row-end: 19;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 13;
        grid-row-start: 13;
    grid-row-end: 19;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 11;
    -ms-grid-row: 17;
        grid-row-start: 17;
    grid-row-end: 25;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 19;
        grid-row-start: 19;
    grid-row-end: 25;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 19;
        grid-row-start: 19;
    grid-row-end: 25;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 25;
        grid-row-start: 25;
    grid-row-end: 33;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve__galeryTheirteen {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 8;
    -ms-grid-row: 25;
        grid-row-start: 25;
    grid-row-end: 31;
  }
  .portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve__galeryTheirteen__galeryFourteen {
    grid-column-end: 11;
    -ms-grid-column: 8;
        grid-column-start: 8;
    -ms-grid-row: 25;
        grid-row-start: 25;
    grid-row-end: 31;
  }
}

.contact-container {
  margin-right: 15px;
  margin-left: 15px;
}

.container-description-text {
  text-align: center;
  padding-top: 130px;
  margin-top: 30px;
}

span {
  color: #FFA500;
}

.container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 100%;
}

.container-form__submit {
  width: 100%;
}

.container-form__submit__containerLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.container-form__submit__containerLabel__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

#containerName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#submitBtn {
  width: 50%;
}

#lastName {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 40px;
  text-indent: 10px;
}

#name {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 40px;
  text-indent: 10px;
}

#name:hover {
  background-color: white;
}

#email {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 40px;
  text-indent: 10px;
}

#yourStory {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 40px;
  border: 1px solid #FFA500;
  text-indent: 10px;
}

#yourStory:hover {
  background-color: white;
}

#HowDidYou {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 40px;
  text-indent: 10px;
}

#submitBtn:hover {
  background-color: white;
  color: #FFA500;
}

#submitBtn {
  background-color: #FFA500;
  border-radius: 6px;
  outline: none;
  height: 40px;
  border: 1px solid #FFA500;
}

#lastName:hover {
  background-color: white;
}

#email:hover {
  background-color: white;
}

#HowDidYou:hover {
  background-color: white;
}

#name {
  margin-bottom: 25px;
}

@media screen and (min-width: 1339px) {
  .contact-container {
    margin-left: 300px;
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-description-text {
    margin-top: 160px;
    width: 70%;
    text-align: center;
    padding-top: 0px;
  }
  .container-form {
    width: 40%;
    margin-top: 60px;
    width: 70%;
  }
  .container-form__submit__containerLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .container-form__submit__containerLabel__btn {
    text-align: center;
  }
  #containerName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #lastName {
    width: 30%;
    border-radius: 6px;
    border: 1px solid #FFA500;
    outline: none;
    height: 30px;
  }
  #name {
    width: 30%;
    border-radius: 6px;
    border: 1px solid #FFA500;
    outline: none;
    height: 30px;
  }
  span {
    color: #FFA500;
  }
  #submitBtn {
    width: 35%;
    background-color: #FFA500;
    border-radius: 6px;
    outline: none;
    height: 30px;
    border: 1px solid #FFA500;
  }
  #HowDidYou {
    border-radius: 6px;
    border: 1px solid #FFA500;
    outline: none;
    height: 30px;
  }
  #email {
    border-radius: 6px;
    border: 1px solid #FFA500;
    outline: none;
    height: 30px;
  }
  #yourStory {
    border-radius: 6px;
    border: 1px solid #FFA500;
    outline: none;
    height: 30px;
    border: 1px solid #FFA500;
  }
  #yourStory:hover {
    background-color: white;
  }
  #email:hover {
    background-color: white;
  }
  #HowDidYou:hover {
    background-color: white;
  }
  #name:hover {
    background-color: white;
  }
  #lastName:hover {
    background-color: white;
  }
  #submitBtn:hover {
    background-color: white;
    color: #FFA500;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  color: #323232;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar {
  position: fixed;
}
/*# sourceMappingURL=app.css.map */