.nav-container {
  position: fixed;
  height: 100%;
  width: 300px;
}

.nav-container__link {
  margin-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin-top: 40px;
}

.nav-container__link__li {
  margin-bottom: 35px;
}

.nav-container__link__li__home {
  text-decoration: none;
}

.nav-container__link__li__home__icon {
  margin-left: 105px;
}

.nav-container__link__li__home:hover {
  color: #FFA500;
}

#instagram {
  margin-left: 15px;
}

#instagram:hover {
  height: 20px;
}

#linkdin {
  margin-left: 15px;
}

#linkdin:hover {
  height: 20px;
}

#logo {
  height: 250px;
  margin-left: 35px;
  margin-top: 20px;
}

.about-container {
  margin-left: 300px;
  padding-top: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-picture {
  width: 50%;
}

.text-container {
  width: 65%;
  text-align: center;
  margin-right: 15px;
}

.text {
  line-height: 2.1;
  margin-left: 10%;
  margin-right: 10%;
}

.pic-container {
  width: 35%;
}

.pic-container__pic {
  width: 100%;
  padding-right: 15px;
}

.lifeStyle-container {
  margin-left: 300px;
  margin-right: 15px;
  padding-top: 15px;
}

.lifeStyle-container__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (7vw)[23];
      grid-template-rows: repeat(23, 7vw);
  grid-auto-rows: 5vw;
  grid-gap: 15px;
}

.lifeStyle-container__grid__galeryOne {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.lifeStyle-container__grid__galeryOne__galeryTwo {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 8;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 8;
      grid-row-start: 8;
  grid-row-end: 15;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 11;
      grid-row-start: 11;
  grid-row-end: 15;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 15;
      grid-row-start: 15;
  grid-row-end: 20;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight__galeryNine {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
  -ms-grid-row: 15;
      grid-row-start: 15;
  grid-row-end: 20;
}

.lifeStyle-container__grid__galeryOne__galeryTwo__galeryThree__galeryFour__galeryFive__galerySix__galerySeven__galeryEight__galeryNine__galeryTen {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 15;
      grid-row-start: 15;
  grid-row-end: 22;
}

.image {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portrait-container {
  margin-left: 300px;
  margin-right: 15px;
  padding-top: 15px;
}

.portrait-container__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (5vw)[35];
      grid-template-rows: repeat(35, 5vw);
  grid-gap: 15px;
}

.portrait-container__grid__galeryOneP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
}

.portrait-container__grid__galeryOneP__galeryTwoP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 9;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 13;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 13;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
  -ms-grid-row: 9;
      grid-row-start: 9;
  grid-row-end: 17;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 13;
      grid-row-start: 13;
  grid-column-end: 4;
  grid-row-end: 19;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 13;
      grid-row-start: 13;
  grid-row-end: 19;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
  -ms-grid-row: 17;
      grid-row-start: 17;
  grid-row-end: 25;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 19;
      grid-row-start: 19;
  grid-row-end: 25;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 19;
      grid-row-start: 19;
  grid-row-end: 25;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 25;
      grid-row-start: 25;
  grid-row-end: 33;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve__galeryTheirteen {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 25;
      grid-row-start: 25;
  grid-row-end: 31;
}

.portrait-container__grid__galeryOneP__galeryTwoP__galeryThreeP__galeryFourP__galeryFiveP__galerySixP__galerySevenP__galeryEightP__galeryNineP__galeryTenP__galeryElevenP__galeryTwelve__galeryTheirteen__galeryFourteen {
  grid-column-end: 11;
  -ms-grid-column: 8;
      grid-column-start: 8;
  -ms-grid-row: 25;
      grid-row-start: 25;
  grid-row-end: 31;
}

.contact-container {
  margin-left: 300px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-description-text {
  margin-top: 160px;
  width: 70%;
  text-align: center;
}

.container-form {
  width: 40%;
  margin-top: 60px;
  width: 70%;
}

.container-form__submit {
  margin-left: 15px;
}

.container-form__submit__containerLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.container-form__submit__containerLabel__btn {
  text-align: center;
}

#containerName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lastName {
  width: 30%;
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 30px;
}

#name {
  width: 30%;
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 30px;
}

span {
  color: #FFA500;
}

#submitBtn {
  width: 35%;
  background-color: #FFA500;
  border-radius: 6px;
  outline: none;
  height: 30px;
  border: 1px solid #FFA500;
}

#HowDidYou {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 30px;
}

#email {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 30px;
}

#yourStory {
  border-radius: 6px;
  border: 1px solid #FFA500;
  outline: none;
  height: 30px;
  border: 1px solid #FFA500;
}

#yourStory:hover {
  background-color: white;
}

#email:hover {
  background-color: white;
}

#HowDidYou:hover {
  background-color: white;
}

#name:hover {
  background-color: white;
}

#lastName:hover {
  background-color: white;
}

#submitBtn:hover {
  background-color: white;
  color: #FFA500;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  color: #323232;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar {
  position: fixed;
}
/*# sourceMappingURL=app.css.map */