@import './partiel/header';
@import './partiel/about';
@import './partiel/lifeStyle';
@import './partiel/portrait';
@import './partiel/contact';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color:#323232;
}


