
.nav-container{
    position: fixed;
    height: 100%;
    width: 300px;

    &__link{
        margin-left:125px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 40px;

        &__li{
            margin-bottom: 35px;

            &__home{
                text-decoration: none;

                &__icon{
                    margin-left:105px;
                }


            }
            &__home:hover{
                color:#FFA500;

            }
        }


    }
}



#instagram{
    margin-left:15px;

}
#instagram:hover{
    height:20px;

}
#linkdin{
    margin-left:15px;
}
#linkdin:hover{
    height:20px
}
#logo{
    height: 250px;
    margin-left: 35px;
    margin-top: 20px
}