//MOBILE//
.image{
    width: 100%;
    height:100%;
    object-fit: cover;
    margin-bottom: 15px;
}
.lifeStyle-container{
    &__grid{
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 120px;
    }
}


//DESKTOP//

 @media screen and (min-width:1339px){

.lifeStyle-container{
    margin-left:300px;
    margin-right:15px;
    padding-top: 15px;
    &__grid{
            display: grid;
            width: 100%;
            height: auto;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(23,7vw);
            grid-auto-rows: 5vw;
            grid-gap: 15px;
            padding-top: 0px;

            &__galeryOne{
                grid-column-start: 1;
                grid-column-end:3;
                grid-row-start: 1;
                grid-row-end:6;

                &__galeryTwo{
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 1;
                    grid-row-end: 6;

                    &__galeryThree{
                        grid-column-start: 5;
                        grid-column-end:8;
                        grid-row-start: 1;
                        grid-row-end: 8;

                        &__galeryFour{
                            grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 6;
                            grid-row-end: 11;

                            &__galeryFive{
                                grid-column-start: 3;
                                grid-column-end:5;
                                grid-row-start: 6;
                                grid-row-end: 11;

                                &__galerySix{
                                    grid-column-start: 5;
                                    grid-column-end:8;
                                    grid-row-start: 8;
                                    grid-row-end:15;

                                    &__galerySeven{
                                        grid-column-start: 1;
                                        grid-column-end: 5;
                                        grid-row-start: 11;
                                        grid-row-end:15;
                                        &__galeryEight{
                                            grid-column-start: 4;
                                            grid-column-end:6;
                                            grid-row-start:15;
                                            grid-row-end:20;
                                            &__galeryNine{
                                                grid-column-start: 6;
                                                grid-column-end:8;
                                                grid-row-start:15;
                                                grid-row-end:20;

                                                &__galeryTen{
                                                    grid-column-start:1;
                                                    grid-column-end:4;
                                                    grid-row-start:15;
                                                    grid-row-end:22;

                                                }

                                            }
                                        }
                                        

                                    }
                                    
                                }


                            }
                        }
                    }

                }
            }

            }
    }
    .image{
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
 }