.portrait-container{
    margin-left:300px;
    margin-right:15px;
    padding-top:15px;

    &__grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(35,5vw);
        grid-gap: 15px;

        &__galeryOneP{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 7;

            &__galeryTwoP{
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 7;

                &__galeryThreeP{
                    grid-column-start: 7;
                    grid-column-end: 11;
                    grid-row-start: 1;
                    grid-row-end: 9;

                    &__galeryFourP{
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row-start: 7;
                    grid-row-end:13;

                    &__galeryFiveP{
                        grid-column-start: 4;
                        grid-column-end: 7;
                        grid-row-start: 7;
                        grid-row-end:13;

                        &__galerySixP{
                            grid-column-start: 7;
                            grid-column-end: 11;
                            grid-row-start: 9;
                            grid-row-end:17;

                            &__galerySevenP{
                                grid-column-start: 1;
                                grid-row-start: 13;
                                grid-column-end: 4;
                                grid-row-end: 19;

                                &__galeryEightP{
                                    grid-column-start: 4;
                                    grid-column-end: 7;
                                    grid-row-start:13;
                                    grid-row-end:19;

                                    &__galeryNineP{
                                        grid-column-start: 7;
                                        grid-column-end: 11;
                                        grid-row-start: 17;
                                        grid-row-end:25;

                                        &__galeryTenP{
                                            grid-column-start: 1;
                                            grid-column-end: 4;
                                            grid-row-start: 19;
                                            grid-row-end:25;

                                            &__galeryElevenP{
                                                grid-column-start: 4;
                                                grid-column-end: 7;
                                                grid-row-start: 19;
                                                grid-row-end:25;

                                                &__galeryTwelve{
                                                    grid-column-start: 1;
                                                    grid-column-end: 5;
                                                    grid-row-start: 25;
                                                    grid-row-end:33;

                                                    &__galeryTheirteen{
                                                        grid-column-start: 5;
                                                        grid-column-end: 8;
                                                        grid-row-start: 25;
                                                        grid-row-end: 31;

                                                        &__galeryFourteen{
                                                            grid-column-end: 11;
                                                            grid-column-start: 8;
                                                            grid-row-start: 25;
                                                            grid-row-end: 31;

                                                        }
                                                    }
                                                }
                    

                                            }
                                        }
                                    }

                                }
                            }
                        }

                    }
                    }
                }
            }
        }
    }

}